/* CheckCarpark.css */
.check-carpark-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f8f9fa;  
  overflow: auto;
  padding: 20px;
}

.check-carpark-container {
  width: 100%;
  max-width: 700px;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
 
.full-width-input {
  width: 100%;
}

 
.same-button {
  width: 100%;
  min-height: 40px;
  font-size: 1rem;
  padding: 6px 12px;
}

.suggestion-list-ul {
  max-height: 250px;  
  overflow-y: auto;
  padding-left: 0;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.suggestion-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  background-color: #fff;
}

.suggestion-item:hover {
  background-color: #f1f1f1;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.check-carpark-wrapper {
  outline: 2px solid red;
}
